<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>
    Ruby Kampala</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar'%>
    <%= render 'layouts/carousel'%>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <%end%>
    <%if alert %>
      <p class="alert"><%= alert %></p>
    <%end%>
    <div class="container-fluid <%= controller_name%> <%= action_name%>">
       <%= yield %>
    </div>

  </body>
</html>
